numpy>=1.19.1
scikit-build
# torch>=1.6.0
tqdm>=4.48.2
scikit-image~=0.17.2
git+https://github.com/lwneal/imutil
git+https://github.com/lwneal/logutil
pyrender>=0.1.43
matplotlib>=3.3.1
torchsummary>=1.5.1
torchvision>=0.7.0
git+https://github.com/vicolab/ml-pyxis
git+https://github.com/aleju/imgaug
pytorch-lightning
joblib>=0.16.0
scipy>=1.5.2
trimesh>=3.8.3
Pillow>=7.2.0
setuptools>=49.6.0