numpy
torch
tqdm
scikit-image
git+https://github.com/lwneal/imutil
git+https://github.com/lwneal/logutil
pyrender
matplotlib
torchsummary
torchvision
git+https://github.com/vicolab/ml-pyxis
git+https://github.com/aleju/imgaug
pytorch-lightning
joblib